body{
    background-image: url("./360_F_513267391_QEmNGeOFLLqrILTnoq21dReUPp5UsoNr.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.parent{
    background-color:transparent;
    border: 3px solid;
    font-weight: bold;
    height: 400px;
    width: 300px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    margin:0 auto ;
    margin-top: 100px;
    background-image: linear-gradient(to bottom right, lightblue,black);
}
img{
    background-color:black;
    border-radius: 50%;
}
h2{
    padding: 10px;
}
h2{
    background-image: linear-gradient(red,green);
    border-radius: 10px;
    color: white;
}
p{
    font-weight: normal;
    color: white;
    

}
